<?xml version="1.0"?>
<launch>

  <node name="highspeed_ctrl" pkg="highspeed_ctrl" type="highspeed_ctrl" output="screen" respawn="true">      
        <remap from="/vesc/ackermann_cmd" to="/vesc/low_level/ackermann_cmd_mux/input/nav_hmcl2"/>

        
      <param name="waypoint_topic" value="/track_info"/> 

      <param name="Pminimum_lookahead_distance" value="0.8"/> 
      <!-- <param name="Pminimum_lookahead_distance" value="0.6"/>  -->
       
      <param name="Pmaximum_lookahead_distance" value="3.0"/> 
      
      
      <param name="Pemergency_stop_distance" value="0.0"/> 
      <param name="Pspeed_thres_traveling_direction" value="0.0"/> 
      <param name="Pmax_acceleration" value="0.3"/> 
      <param name="max_decel" value="4.0"/> 
      <param name="Pdistance_front_rear_wheel" value="0.33"/> 

      <param name="vel_lookahead_ratio" value="1.0"/>       
      <param name="speed_minimum_lookahead_distance" value="0.6"/> 
      <param name="speed_maximum_lookahead_distance" value="1.0"/> 

      <param name="x_vel_filter_cutoff" value="10.0"/> 
      <param name="y_vel_filter_cutoff" value="8.0"/> 

       <!-- <param name="odom_topic" value="/pose_estimate"/>  -->


      <param name="path_smoothing_times_" value="1"/> 
      
      <param name="path_filter_moving_ave_num_" value="1"/> 
      <param name="lookahead_path_length" value="5.0"/> 

      <param name="wheelbase" value="0.33"/> 
      <param name="lf" value="0.165"/> 
      <param name="lr" value="0.165"/> 
      <param name="mass" value="2.0"/> 
      <param name="dt" value="0.05"/> 

</node>

      <node name="brake_governer" pkg="brake_governer" type="brake_governer.py" output="screen" respawn="true">
  	<param name="current" value="-50.0"/>
	  <param name="tolerance" value="0.5"/> 
  </node> 
</launch>
